@model  HR.Data.Models.Team
@{ 
    rContext currentContext = Session[nameof(currentContext)] as rContext;
}
<div>
    <table>
        <tr>
            <th>
                Θέση
            </th>
            <th>
                Τμήμα
            </th>
        </tr>
        <tr>
            <td>
                <select name="positions" class="form-control">
                    <option value=""></option>
                    @foreach (var item in currentContext.Positions)
                    {
                        if (Model.Position == item.id)
                        {
                            <option value="@item.id.ToString(Functions.decimalFormat)" selected>@item.description</option>
                        }
                        else
                        {
                            <option value="@item.id.ToString(Functions.decimalFormat)">@item.description</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select name="departments" class="form-control">
                    <option value=""></option>
                    @foreach (var item in currentContext.Departments)
                    {
                        if (Model.Name == item.id)
                        {
                            <option value="@item.id.ToString(Functions.decimalFormat)" selected>@item.description</option>
                        }
                        else
                        {
                            <option value="@item.id.ToString(Functions.decimalFormat)">@item.description</option>
                        }
                    }
                </select>
            </td>
        </tr>
    </table>
</div>

