@model HR.Data.Models.Employee

@{
    ViewBag.Title = "Details";
    rContext currentContext = Session[nameof(currentContext)] as rContext;
}

    <body>

        <h2>@Html.DisplayFor(model => model.FullName)</h2>

        <div>
            <table class="table" cellspacing="0">
                <tr>
                    <td width="500">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @if (Model.photo_blob_html_image.Length > 100)
                                {
                                    <img class="profile-image" src="@Model.photo_blob_html_image" width="250" height="250" style="border-radius:50%"></img>
                                }
                                else
                                {
                                    <img class="profile-image" src="~/Content/Images/profile.png" width="250" height="250" style="border-radius:50%"></img>
                                }
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>
                                        <i class="fa fa-thumb-tack" title="Θέση" style="font-size:20px"></i>
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Seat)
                                    </dd>
                                    <dt>
                                        <i class="fa fa-envelope" title="e-mail" style="font-size:20px"></i>
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.email)
                                    </dd>
                                    <dt>
                                        <i class="fa fa-phone-square" title="Τηλέφωνο" style="font-size:23px"></i>
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Phone)
                                    </dd>
                                    <dt>
                                        <i class="fa fa-bullhorn" title="Αναφέρεται σε" style="font-size:23px"></i>
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.SupervisorString)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </td>
                    <td>
                        <dl class="dl-horizontal">
                            <dt>
                                Ονοματεπώνυμο
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>

                            <dt>
                                Ημ/νία Πρόσληψης
                            </dt>

                            <dd>
                                @Convert.ToDateTime(Model.DateHired).ToString("dd/MM/yyyy")
                            </dd>

                            <dt>
                                Ημ/νία Γέννησης
                            </dt>

                            <dd>
                                @Convert.ToDateTime(Model.DoB).ToString("dd/MM/yyyy")
                            </dd>

                            <dt>
                                Διεύθυνση
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Directorate)
                            </dd>

                            <dt>
                                Ειδικότητα
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Specialty)
                            </dd>

                            <dt>
                                Θέση
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Position)
                            </dd>

                            <dt>
                                Ηλικία
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Age)
                            </dd>

                        </dl>
                    </td>
                </tr>
                @if (Model.Evaluations.Count > 0)
                {
                    <tr>
                        <td colspan="2">
                            <table class="table">
                                <tr>
                                    <th>Αξιολογητής</th>
                                    <th>Ημ/νία</th>
                                    <th>Αποτέλεσμα</th>
                                    <th></th>
                                </tr>
                                @foreach (var e in Model.Evaluations)
                                {
                                    <tr>
                                        <td>@currentContext.Emps.Where(x => x.ID == e.EvaluatorID).Single().FullName</td>
                                        <td>@e.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@e.GetScoreText()</td>
                                        <td>
                                            @if (currentContext.Subordinates.Where(x => x.ID == Model.ID).Any() && e.EvaluatorID == currentContext.User.ID)
                                            {
                                                <i class="fa fa-edit" title="Επεξεργασία" style="font-size:20px;cursor:pointer" onclick="location.href = '@(Url.Action("Index", "Evaluation", new { id = Model.ID, evalID = e.EvalID }))'"></i>
                                            }
                                            <i class="fa fa-eye" title="Προβολή" style="font-size:20px;cursor:pointer" onclick="location.href = '@(Url.Action("Index", "Evaluation", new { id = Model.ID, evalID = e.EvalID, view = true }))'"></i>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <p>
            @if (currentContext.User.isEditor)
            {
                <input onclick="location.href='@Url.Action("Edit", "Employees", new { id = Model.ID })'" value="Επεξεργασία" class="btn btn-primary" />
            }
            @if (currentContext.Subordinates.Where(x => x.ID == Model.ID).Any() && Model.Evaluations.Where(x => x.EvaluatorID == currentContext.User.ID).Count() == 0)
            {
                <input onclick="location.href='@Url.Action("Index", "Evaluation", new { id = Model.ID})'" value="Αξιολόγηση" class="btn btn-primary" />
            }
        </p>

    </body>
