@model HR.Data.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.FullName)</h2>

<div>
    <table class="table" cellspacing="0">
        <tr>
            <td width="500">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img class="profile-image" src="@Model.photo_blob_html_image" width="250" height="250" style="border-radius:50%"></img>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>
                                <i class="fa fa-thumb-tack" title="Θέση" style="font-size:20px" ></i>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Seat)
                            </dd>
                            <dt>
                                <i class="fa fa-envelope" title="e-mail" style="font-size:20px" ></i>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.email)
                            </dd>
                            <dt>
                                <i class="fa fa-phone-square" title="Τηλέφωνο" style="font-size:23px" ></i>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <dt>
                                <i class="fa fa-bullhorn" title="Αναφέρεται σε" style="font-size:23px" ></i>
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Supervisors)
                            </dd>

                        </dl>

                    </div>
                </div>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        Ονοματεπώνυμο
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    <dt>
                        Ημ/νία Πρόσληψης
                    </dt>

                    <dd>
                        @Convert.ToDateTime(Model.DateHired).ToString("dd/MM/yyyy")
                    </dd>

                    <dt>
                        Ημ/νία Γέννησης
                    </dt>

                    <dd>
                        @Convert.ToDateTime(Model.DoB).ToString("dd/MM/yyyy")
                    </dd>

                    <dt>
                        Διεύθυνση
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Directorate)
                    </dd>

                    <dt>
                        Είδικότητα
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Specialty)
                    </dd>

                    <dt>
                        Θέση
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Position)
                    </dd>

                    <dt>
                        Ηλικία
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Age)
                    </dd>

                </dl>
            </td>
        </tr>
    </table>
</div>
<p>
    <input onclick="location.href='@Url.Action("Edit", "Employees", new { id = Model.ID })'" value="Επεξεργασία" class="btn btn-primary" />
    @if (Functions.Subordinates.Where(x=>x.ID==Model.ID).Any())
    {
        <input onclick="location.href='@Url.Action("Index", "Evaluation")'" value="Αξιολόγηση" class="btn btn-primary" />
    }
</p>
