@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<HR.Data.Models.Employee>
<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            AA
        </th>
        <th>
            Ονοματεπώνυμο
        </th>
        <th>
            Ημ/νία Πρόσληψης
        </th>
        <th>
            Ημ/νία Γέννησης
        </th>
        <th>
            Διεύθυνση
        </th>
        <th>
            Είδικότητα
        </th>
        <th>
            Θέση
        </th>
        <th></th>
    </tr>
@{int i = 1;
foreach (var item in Model.OrderBy(x=>x.LastName))
{
    <tr onclick="location.href = '@(Url.Action("Details", "Employees", new { id = item.ID }))'">
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Convert.ToDateTime(item.DateHired).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Convert.ToDateTime(item.DoB).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Directorate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
    </tr>
    i++;
}
    }
</table>
